.about-me__photo {
    width: 270px;
    height: 327px;
    border-radius: 10px;
}

@media screen and (max-width: 1279px) {
    .about-me__photo {
        height: 305px;
    }
}

@media screen and (max-width: 767px) {
    .about-me__photo {
        width: 100%;
        height: auto;
    }
}