.search-form__button {
    font-size: 11px;
    line-height: 18px;
    color: #FFFFFF;
    width: 58.65px;
    height: 34px;
    background-color: #2BE080;
    border: none;
    border-radius: 48px;
    cursor: pointer;
}

.search-form__button:hover {
    opacity: 0.8;
    transition: opacity 0.3s;
}

@media screen and (max-width: 767px) {
    .search-form__button {
        width: 64px;
    }
}