.nav-tab__signin {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.04px;
    color: #000;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 76px;
    height: 32px;
    background-color: #2BE080;
    border-radius: 3px;
    cursor: pointer;
}

.nav-tab__signin:hover {
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
    .nav-tab__signin {
        font-size: 10px;
        width: 54px;
        height: 26px
    }
}