.nav-tab {
    gap: 31px;
    display: flex;
    margin-right: 70px;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .nav-tab {
        margin-right: 30px;
    }
}

@media screen and (max-width: 320px) {
    .nav-tab {
        margin-right: 14px;
        gap: 14px;
    }
}