.about-me__programm {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    margin: 0 0 26px 0;
}

@media screen and (max-width: 1279px) {
    .about-me__programm {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 767px) {
    .about-me__programm {
        font-size: 11px;
        line-height: 16px;
    }
}