.profile__input {
    border: none;
    text-align: right;
    width: 90%;
}

.profile__input::placeholder {
    color: #000;
    text-align: end;
}


.profile__input:focus {
    outline: none;
    text-align: right;
}

.profile__input:disabled {
    background: none ;
    color: #000;
}