.nav-tab__signup {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .nav-tab__signup {
        font-size: 10px;
    }
}