.filter-checkbox__input {
    position: relative;
    appearance: none;
    outline: none;
    width: 34px;
    height: 14px;
    background-color: #EBEBEB;
    border-radius: 50px;
    transition: background-color 0.3s;
    cursor: pointer;
  }
  
  .filter-checkbox__input:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    background: #F5F5F5;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transition: transform 0.3s;
  }
  
  .filter-checkbox__input:checked {
    background-color: #2BE080;
  }
  
  .filter-checkbox__input:checked:after {
    transform: translateX(20px);
    transition: transform 0.3s;
  }