.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    width: 396px;
    margin: 0 auto;
    height: 100vh;
}

@media screen and (max-width: 767px) {
    .form {
        width: calc(100vw - 60px);
    }
}